.navbar{
    background-color: rgb(255, 170, 0);
}

html{
    font-size: larger;
}

.active{
    background-color: black;
    border-radius: 5px;
    color: white !important;
}

.notificacion{
    background-color: red;
    color: white !important;
}

.nav-item{
    padding:10px;
}