<app-menu></app-menu>
<div class="container ">
    <div class="row"><div class="col-12"><h2 class="pt-4 d-flex justify-content-center">Autobuses</h2><br></div></div>
    <button type="button" class="btn btn-dark mb-2" [routerLink]="['/nuevoAutobus']">Crear</button>
    <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let autobus of autobuses">
            <th scope="row">{{autobus.id}}</th>
            <td>{{autobus.nombre}}</td>
            <td>{{autobus.capacidad}}</td>
            <td>
              <button type="button" class="btn btn-dark">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>            
          </tr>
        </tbody>
      </table>
</div>
